type duress_keystore_wipe, domain, coredomain;
type duress_keystore_wipe_exec, exec_type, file_type, system_file_type;

init_daemon_domain(duress_keystore_wipe);
domain_auto_trans(init, duress_keystore_wipe_exec, duress_keystore_wipe);

allow duress_keystore_wipe keystore_service:service_manager find;
allow duress_keystore_wipe keystore_maintenance_service:service_manager find;
allow duress_keystore_wipe keystore:keystore2 delete_all_keys;

binder_call(duress_keystore_wipe, keystore);
binder_call(duress_keystore_wipe, servicemanager);
binder_call(duress_keystore_wipe, system_server);

allow duress_keystore_wipe shell_exec:file rx_file_perms;
allow duress_keystore_wipe zygote_exec:file rx_file_perms;
